@page "/"

<PageTitle>Advent of Code by Elephtera</PageTitle>

<h1>Hello World!</h1>
Below are my assignment results. See github sourcecode for solutions on getting the correct result.

@{
    var ass1 = new Assignments.Day1.Assignment1();
    var result1 = ass1.Perform();

    var ass2 = new Assignments.Day1.Assignment2();
    var result2 = ass2.Perform();

    var ass3 = new Assignments.Day2.Assignment1();
    var result3 = ass3.Perform();

    var ass4 = new Assignments.Day2.Assignment2();
    var result4 = ass4.Perform();

    var ass5 = new Assignments.Day3.Assignment1();
    var result5 = ass5.Perform();

    var ass6 = new Assignments.Day3.Assignment2();
    var result6 = ass6.Perform();

    var ass7 = new Assignments.Day4.Assignment1();
    var result7 = ass7.Perform();

    var ass8 = new Assignments.Day4.Assignment2();
    var result8 = ass8.Perform();
}

<br />Assignment 1: <b>@result1</b>
<br />Assignment 2: <b>@result2</b>
<br />Assignment 3: <b>@result3</b>
<br />Assignment 4: <b>@result4</b>
<br />Assignment 5: <b>@result5</b>
<br />Assignment 6: <b>@result6</b>
<br />Assignment 7: <b>@result7</b>
<br />Assignment 8: <b>@result8</b>

